/* Font weights: 100,300,400,700,900 */

body {
    font-family: 'Lato', sans-serif;
}

.navigationBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: #FFFFFF;
    z-index: 100000;
}

.navigationBar .logo {
    width: 40px;
    margin-top: -11px;
    display: inline-block;
    margin-right: 10px;
}

.navLeft, .navRight {
    padding-left: 15px;
    padding-right: 30px;
}

.navigationBar .navLeft {
    float: left;
}

.navigationBar .navRight {
    float: right;
}

#navTitle {
    color: #F15C5C;
    font-size: 30px;
    font-weight: 900;
    margin-top: 8px;
    display: inline-block;
}

#map {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.navRight .toggle {
    margin-top: 25px;
}

.mapOverlay {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000000;
    opacity: 0.0;
    transition: opacity 0.2s;
    z-index: 1000;
    pointer-events: none;
}

.mapOverlay.shown {
    opacity: 0.7;
    pointer-events: auto;
}

.waitingImg {
    margin: 180px auto 50px;
    display: block;
}

.waitingText {
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    color: #fff;
    font-size: 30px;
}

.callController {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10000000;
    padding-left: 10px;
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.09);
}

.callControllerLeft {
    float: left;
    width: 60px;
    position: relative;
    margin-right: -4px;
}

.callIndicator {
    position: absolute;
    top: 20px;
    left: -5px;
    z-index: 100000;
}

.callTime {
    font-weight: 300;
    color: #000;
    position: absolute;
    top: 27px;
    left: 12px;
    font-size: 12px;
}

.callControllerRight {
    float: right;
}

.endTourButton {
    background: #F15C5C;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
}

.requestContainer {

}

.requestImg {

}

.requestName {

}

.requestDescription {

}

.requestButton {

}

.requestButtonDecline {

}

.requestButtonAccept {

}

.rightTray {
    background: transparent;
    position: fixed;
    right: 0;
    top: 65px;
    bottom: 0;
    width: 350px;
    z-index: 1001;
    padding: 20px;
    padding-top: 40px;
    overflow: scroll;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.rightTray.shown {
    pointer-events: auto;
    opacity: 1;
}

.infoCard {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.09);
    position: relative;
    margin-bottom: 30px;
}

.infoCardLabel {
    background: #F15C5C;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    left: 12px;
    top: -10px;
    overflow: hidden;
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.09);
}

.infoCardLabelPrimary, .infoCardLabelSecondary {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
}

.infoCardLabelPrimary {
    display: inline-block;
}

.infoCardLabelSecondary {
    float: right;
    display: inline-block;
    background: #DC4F4F;
}

.infoCardContent {
    padding: 25px 12px 10px;
    font-weight: 300;
}

.toggle {
    position: relative; width: 53px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 13px; padding: 0; line-height: 13px;
    border: 0px solid #F15C5C; border-radius: 33px;
    background-color: #F2F2F2;
}

.toggle-label:before {
    content: "";
    display: block; width: 33px; margin: -10px;
    background: #EEEEEE;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border-radius: 33px;
    transition: right 0.2s, background-color 0.2s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #F2F2F2;
}

.toggle-checkbox:checked + .toggle-label, .toggle-checkbox:checked + .toggle-label:before {
   border-color: #F2F2F2;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
    margin-left: 0;
}

.toggle-checkbox:checked + .toggle-label:before {
    right: 0px; 
    background-color: #F15C5C; 
    /*box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);*/
}

.cssload-loader {
    margin: 0;
    right: 0;
    width: 61px;
}

.cssload-loader ul {
    margin: 0;
    list-style: none;
    width: 61px;
    height: 44px;
    position: relative;
    padding: 0;
    height: 5px;
}
.cssload-loader ul li {
    position: absolute;
    width: 7px;
    height: 0;
    background-color: rgb(241,92,92);
    bottom: 0;
    border-radius: 3.5px;
}

.cssload-loader li:nth-child(1) {
    left: 0;
    animation: cssload-sequence1 0.95s ease infinite 0;
        -o-animation: cssload-sequence1 0.95s ease infinite 0;
        -ms-animation: cssload-sequence1 0.95s ease infinite 0;
        -webkit-animation: cssload-sequence1 0.95s ease infinite 0;
        -moz-animation: cssload-sequence1 0.95s ease infinite 0;
}
.cssload-loader li:nth-child(2) {
    left: 10px;
    animation: cssload-sequence2 0.95s ease infinite 0.095s;
        -o-animation: cssload-sequence2 0.95s ease infinite 0.095s;
        -ms-animation: cssload-sequence2 0.95s ease infinite 0.095s;
        -webkit-animation: cssload-sequence2 0.95s ease infinite 0.095s;
        -moz-animation: cssload-sequence2 0.95s ease infinite 0.095s;
}
.cssload-loader li:nth-child(3) {
    left: 20px;
    animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
        -o-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
        -ms-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
        -webkit-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
        -moz-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
}
.cssload-loader li:nth-child(4) {
    left: 30px;
    animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
        -o-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
        -ms-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
        -webkit-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
        -moz-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
}
.cssload-loader li:nth-child(5) {
    left: 40px;
    animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
        -o-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
        -ms-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
        -webkit-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
        -moz-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
}
.cssload-loader li:nth-child(6) {
    left: 51px;
    animation: cssload-sequence2 0.95s ease infinite 0.475s;
        -o-animation: cssload-sequence2 0.95s ease infinite 0.475s;
        -ms-animation: cssload-sequence2 0.95s ease infinite 0.475s;
        -webkit-animation: cssload-sequence2 0.95s ease infinite 0.475s;
        -moz-animation: cssload-sequence2 0.95s ease infinite 0.475s;
}


@keyframes cssload-sequence1 {
    0% {
        height: 7px;
    }
    50% {
        height: 18px;
    }
    100% {
        height: 7px;
    }
}

@-o-keyframes cssload-sequence1 {
    0% {
        height: 7px;
    }
    50% {
        height: 18px;
    }
    100% {
        height: 7px;
    }
}

@-ms-keyframes cssload-sequence1 {
    0% {
        height: 7px;
    }
    50% {
        height: 18px;
    }
    100% {
        height: 7px;
    }
}

@-webkit-keyframes cssload-sequence1 {
    0% {
        height: 7px;
    }
    50% {
        height: 18px;
    }
    100% {
        height: 7px;
    }
}

@-moz-keyframes cssload-sequence1 {
    0% {
        height: 7px;
    }
    50% {
        height: 18px;
    }
    100% {
        height: 7px;
    }
}

@keyframes cssload-sequence2 {
    0% {
        height: 13px;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 13px;
    }
}

@-o-keyframes cssload-sequence2 {
    0% {
        height: 13px;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 13px;
    }
}

@-ms-keyframes cssload-sequence2 {
    0% {
        height: 13px;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 13px;
    }
}

@-webkit-keyframes cssload-sequence2 {
    0% {
        height: 13px;
    }
    50% {
        height: 22px;
    }
    100% {
        height: 13px;
    }
}
